<h1 class="text-center">Créer un gossip</h1>
  <div class="container">
    <div class="form-group">
      <%= form_for @gossip do |f| %>
      <%= f.label :title, "Le titre"%>
      <%= f.text_field :title, placeholder:"Donne-nous envie!", class:"form-control"%><br/>
      <%= f.label :content, "Le contenu"%>
      <%= f.text_area :content, placeholder:"On veut du doss!!!", class:"form-control" %><br/>
    
      <p class="text-center"><%= f.submit "Créer le gossip", class:"btn btn-lg btn-info" %></p>
      <% end %>
    </div>
  </div>
