<h1>Créer un gossip</h1>

<%= form_for @gossip do |f| %>
<%= f.label :title, "Le titre"%>
<%= f.text_field :title%>
<%= f.label :content, "Le contenu"%>
<%= f.text_area :content %>
<%= @current_user.pseudo %>
<%= f.submit "Créer le gossip" %>
<% end %>
